@charset 'utf-8';

// インスペクターのスタイル
div.exbox-color-setting {
  display: block;
  .components-base-control__field {
    display: flex;
    flex-wrap: wrap;
  }
}

.block-editor-block-styles__variants .block-editor-block-styles__item{
  white-space: pre-wrap;
  height: auto;
}

div.oja-coreblock-controle {
  color: #000;
  .components-radio-control .components-base-control__field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    label {
      max-width: initial;
      flex-basis: 100%;
    }
  }
}
