@charset 'utf-8';

@mixin iconColorSet($color) {
  background-color: rgba($color, 0.1);
  i {
    color: $color;
  }
}

.oja-corewraper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  align-items: baseline;
  justify-content: flex-start;
  padding: 12px;
  i {
    margin: 0 15px;
  }

  & > *:not(i){
    flex: 1;
  }

  p[data-fronticon] {
    padding-left: 0px;
  }
  p[data-endicon] {
    padding-right: 0px;
  }

  // 注意、ハート、？マーク、ビックリマーク
  &.triangle-exclamation,
  &.heart,
  &.question,
  &.circle-exclamation {
    @include iconColorSet(#F13D54);
  }

  // 星 、電球、カート、旗
  &.star,
  &.lightbulb,
  &.cart-shopping,
  &.flag {
    @include iconColorSet(#FFBF0E);
  }

  // クリップボード、歯車、いいね！、低評価
  &.clipboard,
  &.gear,
  &.thumbs-down,
  &.thumbs-up {
    @include iconColorSet(#616dc9);
  }

  // お知らせ、吹き出し、チェック、鉛筆、ノート
  &.bell,
  &.comment-dots,
  &.circle-check,
  &.pen,
  &.file-pen {
    @include iconColorSet(#05B483);
  }
  
}

