// @import "config/config";
// @import "config/mixin";
h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
  font-weight: bold;
  line-height: 1.6;
  color: #847d76;

  // シンプルライン
  &:not(h1) {
    position: relative;
    font-weight: 400;
    color: $text_color;
    &::before, &::after {
      position: absolute;
      content: "";
      z-index: 0;
      bottom: 0;
      left: 0;
    }
    &::before {
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: $sub_color;
      opacity: .5;
    }
    &::after {
      width: 20%;
      height: 2px;
      border-bottom-left-radius: 1px;
      border-top-left-radius: 1px;
      background: $main_color;
    }
  }

  // ドロップキャップ、イタリック
  &.is-style-drop-itaric {
    color: $main_color;
    border-bottom: 3px solid $main_color;
    transform: skew(-15deg, 0deg);
    &:first-letter {
      font-size: 2.2rem;
      color: $main_color;
      @include md {
        font-size: 1.85rem;
      }
    }
    &::before, &::after {
      content: none;
    }
  }

  // 左垂直ライン
  &.is-style-left-border{
    padding-left: 5px;
    border-left: 5px solid #ddd;
  }
}

// ベーススタイリング
h1 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 400;
  @include lg {
    font-size: 1.6rem;
  }
  @include md {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 1.65rem;
  line-height: 2rem;
  padding: 15px 15px 10px 8px;
  margin-top: 2.6rem;
  margin-bottom: 1.6rem;
  @include md {
    font-size: 1.45rem;
    line-height: 1.8rem;
    padding: 13px 13px 8px 6px;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 12px 20px;
  margin-top: 2.3rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  @include md {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 10px 15px;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}
h4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px 15px;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  @include md {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 6px 8px;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
  }
}
h5 {
  font-size: 14px;
  letter-spacing: 1.5px;
  padding-left: 20px;
  color: $sub_color;
  @include md {
    font-size: 15px;
  }
}
h6 {
  font-size: 12px;
  padding-left: 20px;
}