@charset "UTF-8";

@import "../config/config";
@import "../config/mixin";
@import "../config/reset";
@import "../config/base";

@import "../components/layout";

@import "../components/header";

@import "../components/scroll_btn";

@import "../components/submenu";

@import "../components/search";

@import "../components/archive-list";

@import "../components/breadcrumb";

@import "../components/footer";
.page-id-49 {
  //keyビジュアルスタイル
  @include xl {
    .key_visual {
      @include keyVisual('../img/yoruwagasa.jpg', 0 75%);
    }
  }

  #taxonomy-text {
   @include taxonomy-text;
  }

  //見出し用
  .c_head {
    br {
      display: none;
      @include md {
        display: inline;
      }
    }
  }

  //  能力グラフ
  .skill_graph{
    width: calc(100% - 40px);
    width: 100%;
    max-width: 800px;
    margin: 30px auto 230px;
    opacity: 0;
    transition: all 1.5s  ease-out;
    transform: translateY(-50px);
    @include lg {
      margin-bottom: 130px;
    }
    @include s {
      margin-bottom: 110px;
    }
    &.show {
      opacity: 1;
      transform: none;
      & span {
        opacity: 1;
        transform: none;
      }
      & .bar::after {
        animation-name: bar-before;
      }
    }

    .kakko_wrap {
      text-align:center;
      padding: 0 8px;
      background-color: $main_color;
      margin-bottom: 60px;
      position:relative;
      line-height: 1.8;
      margin-top: 15%;

      .kakko_text {
        padding: 1rem;
        background-color: #fff;
        border-radius: 15px;
        margin-bottom:0;
        font-size: 26px;
        letter-spacing: 1.8px;
        @include md {
          margin-top: 100px;
          font-size: 22px;
          margin-bottom: 50px;
        }
        @include sm {
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
    }
  }
  
  
  .bar{
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
    span {
      position: absolute;
      right: 5%;
      top: 2%;
      margin-left: 20px;
      color:$text_color;
      font-weight: 700;
      transition: $anime;
      transition-delay: 3s;
      opacity: 0;
      transform: translateX(50%);
    }
  }
  .bar::before{
    content: '';
    color:$text_color;
    font-weight: 700;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    height: 35px;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
  }
  
  .bar::after{
    // content: '';
    height: 35px;
    text-align: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.7s;
    display: block;
    width: 100%;
    animation-iteration-count: 10;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @each $brand,$property in $script_date {
    .#{$brand}_bar::after {
      background-color: map-get($property, bg-color );
      max-width: map-get($property, m-width );
    }
  }
  
  @keyframes bar-before{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }
  //メインコンテンツ部
  .main {
    h2 strong:first-of-type {
      margin-top: 90px;
      margin-bottom: 50px;
      text-align: left;
      padding-left: 10%;
    }
    h2 strong:last-of-type  {
      margin-bottom: 50px;
    }

    h3.show {
      opacity: 1;
      transform: translateY(0);
    }
    h3 {
      padding: 0 5%;
      opacity: 0;
      text-align: center;
      transition: all 1.5s ease-out;
      transform: translateY(-50px);
    }

    h4 {
      font-size: 1.4rem;
      padding-left: 75px;
      padding-right: 45px;
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
    @each $brand,$property in $script_date {
      .#{$brand} span::before {
        position: absolute;
        color: map-get($property,bg-color);
        @include font_A_B(map-get($property,icon));
      }
    }
    .html span::before {
      left: 1%;
      top: 16%;
      font-size: 40px;
      @include sm {
        top: 26%;
        font-size: 37px;
      }
    }
    
    .css span::before {
      left: 1%;
      top: 16%;
      font-size: 35px;
      @include sm {
        top: 26%;
        font-size: 30px;
      }
    }
    
    .js span::before {
      left: 1%;
      top: 16%;
      font-size: 38px;
      @include sm {
        top: 26%;
        font-size: 32px;
      }
    }
    
    .wordpress span::before {
      left: 1%;
      top: 16%;
      font-size: 36px;
      @include sm {
        top: 26%;
        font-size: 30px;
      }
    }
    
    .php span::before {
      left: 1%;
      top: 16%;
      font-size: 40px;
      @include sm {
        top: 26%;
        font-size: 35px;
      }
    }

    .scss span::before {
      left: 1.3%;
      top: 16%;
      font-size: 37px;
      @include sm {
        top: 26%;
        font-size: 30px;
      }
    }
  }
  span.customize-partial-edit-shortcut::before {
    content: none !important;
  }

  //アコーディオンタブ用
  .acco_tav {
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    &:hover h4:before,&:hover h4:after {
      transform: translateY(7px);
    }
    &.open h4:before,&.open h4:after {
      transform: rotate(-180deg) translate(2px, 9px);
    }

    h4 {
      color: $text_color;
      position: relative;
      transition: $anime;
      height: 60px;
      padding: 30px 45px 10px 75px;
      line-height: 1.5;
      margin-bottom: 0;
      @include sm {
        font-size: 1.2rem;
        text-align: center;
        padding-left: 30px;
        height: 35px;
      }

      &::before {
        @include font_A("\f078");
        transition: $anime;
        position: absolute;
        right: 5%;
        top: 28%;
      }
      &::after {
        @include font_A("\f078");
        transition: $anime;
        position: absolute;
        right: 5%;
        top: 40%;
      }
    }
  }

  .inside_text {
    letter-spacing: 1.5px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: $anime;
    &.open {
      height: auto;
      opacity: 1;
    }
    p {
      @include md {
        padding-left: 12%;
        padding-right: 5%;
      }
    }
  }

  .acco_tav.scss {
    margin-bottom: 130px;
    @include md {
      & h4 {
        height: 80px;
        border: none;
        @include sm {
          height: 80px;
          padding-left: 50px;
          &::before {
            top: 32%;
          }
        }
      }
    }
  }

//プロフィール
.introduction .profile {
  position: relative;
  min-height: 280px;
  width: 100%;
  @include bg_img('../img/teien1.jpg');
  background-origin: content-box;
  margin-bottom: 45px;
  @include md {
    margin-bottom: 30px;
  }
  @include sm {
    margin-bottom: 20px;
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    background: rgba(255, 255, 255, 0.5);
  }
  .sequential {
    transition: all 0.5s linear 0s;
    opacity: 0;
    &:nth-of-type(1) {
      transform: translate(30px, 0);
    }
    &:nth-of-type(2) {
      transform: translate(-30px, 0);
    }
    &:nth-of-type(3) {
      transform: translate(0px, 30px);
    }
    &:nth-of-type(4) {
      transform: translate(0px, -30px);
    }
    &.active {
     transform: translate(0,0);
     opacity: 1;
    }
  }
  h1 {
    color: #000;
    font-size: 4.2em;
    font-weight: 700;
    position: absolute;
    top: 0%;
    left: 25%;
    @include md {
      font-size: 3.2em;
      font-weight: 600;
    }
    @include sm {
      font-size: 2.6em;
      font-weight: 600;
      left: 22%;
    }
    @include s {
      font-size: 2.3em;
    }
  }

  dl {
    dt, dd {
      font-size: 2em;
      font-weight: 600;
      letter-spacing: 1.8px;
      color: #333333;
    }
    
    dt:first-of-type {
      position: absolute;
      left: 7%;
      top: 17%;
      @include sm {
        left: 3%;
        font-size: 1.7em;
      }
    }
    
    dd:first-of-type {
      position: absolute;
      left: 14%;
      top: 26%;
      @include sm {
        left: 9%;
        font-size: 1.7em;
      }
    }
    
    dt:nth-of-type(2) {
      position: absolute;
      left: 11%;
      top: 53%;
      font-size: 3em;
      @include sm {
        font-size: 2em;
        left: 4%;
      }
    }
    
    dd:nth-of-type(2) {
      position: absolute;
      left: 13%;
      top: 65%;
      font-size: 3em;
      @include sm {
        font-size: 2em;
        left: 4%;
      }
    }
    
    dt:nth-of-type(3) {
      position: absolute;
      right: 45%;
      bottom: 40%;
      font-size: 3.5em;
      @include md {
        font-size: 3em;
        font-weight: 500;
      }
      @include sm {
        font-size: 2.8em;
      }
    }
    
    dd:nth-of-type(3) {
      position: absolute;
      right: 17%;
      bottom: 40%;
      font-size: 3.3em;
      @include lg {
        bottom: 28%;
        font-size: 3em;
      }
      @include sm {
        font-size: 2.8em;
      }
      @include s {
        font-size: 2.4em;
      }
    }
    
    dt:nth-of-type(4) {
      position: absolute;
      right: 30%;
      bottom: 8%;
      font-size: 2em;
      @include sm {
        right: 30%;
        bottom: 7%;
        font-size: 1.4em;
      }
      @include s {
        right: 5%;
        font-size: 1.1em;
      }
    }
    
    dd:nth-of-type(4) {
      position: absolute;
      right: -3%;
      bottom: -2%;
      font-size: 2.5em;
      @include md {
        right: 8%;
        font-size: 2.1em;
      }
      @include sm {
        right: 5%;
        font-size: 1.9em;
      }
      @include s {
        font-size: 1.4em;
        bottom: 0;
      }
    }
  } //dl
} //.introduction .profile


//WordPress解説スタイル

  .active_greeting {
    & + p + p {
      margin-bottom: 15%;
    }
  }
  .wp_tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    li {
      width: 100%;
      list-style: none;
      &:not(:first-of-type) {
        margin-left: 0.6rem;
      }
      &:last-child a.active {
        transform: translateX(-3px);
      }
      a {
        width: 100%;
        display: block;
        font-size: 1rem;
        text-align: center;
        color: $sub_color;
        text-decoration: none;
        background-color: $primary_color;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        box-sizing: content-box;
        border-bottom: 3px solid $sub_color;
        transition: all .2s ease-in;
        &:hover {
          opacity: 0.8;
          
        }
        @include md {
          font-size: 0.8rem;
        }
        @include sm {
          font-size: 0.6rem;
        }
        &.active {
          color: $main_color;
          background-color: #fff;
          border-top: 3px solid $sub_color;
          border-bottom: none;
          border-left: 3px solid $sub_color;
          border-right: 3px solid $sub_color;
          &:before {
            content: ' ';
            display: inline-block;
            width: 13px;
            height: 13px;
            background-color: #0B048F;
            transform: rotate(45deg);
            margin-right: 0.5em;
            @include md {
              width: 9px;
              height: 9px;
            }
          }
        }
      }
    }
  }

  .wp_contents {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 50px;

    .merit {
      display: inline-block;
      padding-top: 0px;
      margin-bottom: 20px;
      box-shadow: 0px 3px 4px #ccc, 0px 0px 1px 1px #fff inset;
      background: linear-gradient(#FFF, #ebebeb);
      display: none;
      &.active {
        display: block;
      }

      h5 {
        font-size: 2.4em;
        color: #501d1d;
        font-weight: 600;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        border-bottom: 2px solid $sub_color;
        text-align: center;
        padding-top: .8rem;
      }

      p {
        letter-spacing: 1.6px;
        font-size: 1.5em;
        font-weight: 200;
        padding: 1.2rem 1rem 1.5rem 1.5rem;
        color: #333;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .wp_contents .merit h5 {
      font-size: 1.8em;
      font-weight: 700;
      letter-spacing: 1.8px;
    }
  }
  
  @media screen and (max-width: 543px) {
    .wp_contents .merit h5 {
      font-size: 1.6em;
    }
  }
  
  @media screen and (max-width: 768px) {
    .wp_contents .merit p {
      font-size: 1.3em;
      font-weight: 300;
    }
  }
  
  @media screen and (max-width: 543px) {
    .wp_contents .merit p {
      font-size: 1.1em;
      font-weight: 400;
    }
  }

}// .page-id-49