@use '../config/config' as * ;
@use '../config/mixin' as * ;
// フッターメニュー
.reverce {
  height: 50px;
  width: 50px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  margin: 0 0 0 92%;
}

footer {
  background-color: $accent_color;
  color: $text_color;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-top: 1%;
  @include md {
    padding-bottom: 75px;
    font-size: 12px;
  }
  @include sm {
    font-size: 10px;
  }
}

