//基本の2カラム
.container {
  max-width: 1140px;
  margin: 50px auto 0px;
  display: flex;
  @include xl(1180px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @include lg(972px) {
    flex-direction: column;
  }
  @include md(662px) {
    margin-top: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main {
    flex: 1 1 68%;
    @include lg(972px) {
      margin: 0;
    }
  }
  .aside {
    flex: 1 1 20%;
    margin-left: 2.5rem;
    @include lg {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
    }
  }
}

// 1カラムサイドバーなし
.container.column1_noside {
  display: block;
}
// 1カラムサイドバーあり
.container.column1 {
  flex-direction: column;
}
//2カラムレイアウト
.container.column2 {
  @include lg {
    flex-direction: column;
  }
  .main {
    width: calc(100% - 280px - 2.5rem);
    flex: unset;
    @include lg {
      margin: 0 auto;
      width: 100%;
    }
  }
  .aside {
    flex: unset;
    width: 280px;
    margin-left: 2.4rem;
    @include lg {
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }
    @include sm {
      width: 85%;
    }
  }
}