@charset "UTF-8";
//制作実績スタイル用

 .production {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  .item_detail {
    border: 1px solid #ccc;
    background: linear-gradient(#FFF, #ebebeb);
    background-size: cover;
    margin-bottom: 45px;
    overflow: hidden;
    position: relative;
    flex: 0 0 50%;
    max-width: 48%;
    box-shadow: 0px 3px 4px #ccc, 0px 0px 1px 1px #fff inset;
    @include showAnimation ;
    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 190px;
      height: 600px;
      content: "";
      transform: translateX(130%) translateY(38%) rotate(49deg);
      background-color: $sub_color;
      @include sm {
        transform: translateX(130%) translateY(45%) rotate(49deg);
      }
    }
    &:not(:nth-child(2n+1)) {
      margin-left: 20px;
      @include md {
        margin-left: 2%;
      }
      @include sm(543px) {
        margin-left: 10px;
      }
    }
    @include sm(543px) {
      max-width: 47%;
    }
  }
  
  .item_page {
    display: block;
    text-decoration: none;
    width: 100%;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0px 3px 13px 2px darken($primary_color,10%);
    }
  }
  
  .main_item_text {
    padding: 10px;
    position: relative;
    &::after {
      @include font_A('\f00e');
      position: absolute;
      color: $primary_color;
      font-size: 20px;
      right: 4%;
      bottom: 0%;
      transform:rotate(90deg);
      @include sm {
        display: none;
      }
    }
    p {
      padding-left: 0;
      padding-right: 20px;
      font-size: 1em;
      @include md {
        line-height: 1.8;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  .item_detail {
    h1 {
      font-size: 1.8em;
      color: #501d1d;
      font-weight: 600;
      border-bottom: 2px solid $sub_color;
      margin-bottom: 10px;
      overflow: hidden;
      @include md {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.6;
        &:before {
          left: -21px;
        }
      }
      @include sm {
        border-top: 2px solid $sub_color;
        border-bottom: none;
      }
      @include s(428px) {
        font-size: 1.2em;
        font-weight: 500;
      }
    }
    
    h3 {
      color: $text_color;
      font-size: 14px;
      font-weight: 300;
      padding: 1%;
      @include md {
        font-size: 12px;
        font-weight: 400;
      }
      @include sm(489px) {
        display: none;
      }
    }
    
    .main_item_img {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 0%;
        height: 220px;
        border: 1px solid #cee0dc;
        @include md {
          height: 170px;
        }
        @include sm(534px) {
          height: 140px;
        }
        @include s(424px) {
          height: 110px;
        }
      }
    }
  }//.item_detail

}//production