@charset "UTF-8";

@use "../config/config" as * ;
@use "../config/mixin" as * ;
@use "../config/reset" ;
@use "../config/base" ;

@use "../components/layout";

@use "../components/header";

@use "../components/scroll_btn";

@use "../components/pagenation";

@use "../components/submenu";

@use "../components/search";

@use "../components/archive-list";

@use "../components/breadcrumb";

@use "../components/footer";

.post-type-archive-blogs {
  // 目録を表示しない
  #pc_nav {
    visibility: hidden;
    height: 0;
  }
  .submenu.fix#pc_nav {
    visibility: visible;
    height: auto;
  }

  //keyビジュアルスタイル
  @include xl {
    .key_visual {
      @include keyVisual("../img/sakasa_kouyou.jpg");
    }
  }

  #taxonomy-text {
    @include taxonomy-text(popIn, cubic-bezier(0, 1.23, 1, 0.99), 1.5s);
    > span {
      opacity: 1;
    }
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    //ブログ記事アーカイブスタイル
    .post_cade {
      font-family: $g_serif;
      flex: 0 0 45%;
      border: 1px solid #ccc;
      background: #fff;
      margin-bottom: 70px;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 3px 4px #ccc, 0px 0px 1px 1px #fff inset;
      pointer-events: none;
      @include showAnimation;
      transition-duration: 0.5s;
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 190px;
        height: 600px;
        content: "";
        transform: translateX(-147%) translateY(-32%) rotate(52deg);
        background: $accent_color;
        @include md {
          transform: translateX(-158%) translateY(-32%) rotate(52deg);
        }
        @include sm {
          transform: translateX(-156%) translateY(-38%) rotate(57deg);
        }
      }
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 1px 1px #ccc, 0px 0px 2px 3px #fff inset;
      }

      a {
        display: block;
        text-decoration: none;
        width: 100%;
        transition: $anime;
        pointer-events: auto;
      }
    }

    //サムネイルスタイル
    .pickup-image,
    .new-entry-item .eyecatch,
    .post-list-thumb {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .pickup-image:before,
    .new-entry-item .eyecatch:before,
    .post-list-thumb:before {
        content:"";
        display: block;
        padding-top: 56.25%; /* 16:9 */
    }
    .pickup-image img,
    .new-entry-item .eyecatch img,
    .post-list-thumb img {
        position: absolute;
        top: 50%;
        left: 50%;
      -webkit-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
    }
    .thumbnail{
      //サムネイルのサイズを揃える
      position: relative;
      overflow: hidden;
      width: 100%;
      &:before {
        content:"";
        display: block;
        padding-top: 56.25%; /* 16:9 */
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
        object-fit: cover;
        width: 100%;
        transition: $anime;
      }
    }

    .post_cade .post_date {
      padding: 1rem;
      @include md {
        padding: 0;
        padding-top: 0.8rem;
        padding-left: 0.6rem;
        padding-right: 0.3rem;
        padding-bottom: 0.8rem;
      }
      h1 {
        font-size: 19px;
        font-weight: 200;
        line-height: 1.5;
        color: #042104;
        @include lg(1092px) {
          font-size: 17px;
          font-weight: 300;
        }
        @include md(741px) {
          font-size: 16px;
          font-weight: 400;
        }
        @include sm(560px) {
          font-size: 14px;
          line-height: 1.4;
        }
      }
      
      time {
        position: absolute;
        left: 3%;
        top: 1%;
        z-index: 1;
        font-size: 12px;
        color: $main_color;
        font-family: "Noto Sans Japanese", sans-serif;
        @include md {
          font-size: 10px;
          font-weight: 300;
        }
      }
    }

  }

  //モーダルウィンドウ
  .sort_notice {
    margin-bottom: 1%;
    margin-left: 3%;
    color: #000;
    display: block;
  }
  #modal_open,
  input.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-bottom: 8%;
    margin-left: 3%;
    background-color: $main_color;
    color: $sub_color;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: $anime;
    position: relative;
    &::before {
      @include font_A("\f00e");
      padding-right: 3%;
    }
    &:hover {
      opacity: 0.9;
      transform: scale(1.02);
    }
    &:focus {
      border: 1px solid $sub_color;
    }
    @include md {
      font-size: 13px;
      line-height: 2;
    }
    @include sm {
      width: 45%;
    }
    @include s {
      width: 50%;
    }
  }
  input.submit-button {
    width: 47%;
    line-height: 1.7;
    border: none;
    margin: 2% auto;
    @include lg {
      width: 35vw;
      font-size: 14px;
      margin-top: 5%;
      line-height: 2;
    }
    @include md {
      width: 40vw;
      font-size: 12px;
    }
    @include sm {
      margin-top: 7%;
      width: 45vw;
      font-size: 11px;
    }
  }
  #modal_close {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    color: $text_color;
    text-align: right;
    display: block;
  }
  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.95);
    background-color: #fff;
    min-width: 50vw;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    max-height: 80vh;
    overflow: auto;
    @include md {
      min-width: 65vw;
    }
    &.active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      visibility: visible;
    }
  }
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.active {
      opacity: 0.7;
      visibility: visible;
    }
  }

  //絞り込み検索
  .refine_search {
    .condition-title {
      font-size: 21px;
      margin: 20px 0px;
      margin-bottom: 35px;
      color: $text_color;
      background: linear-gradient(transparent 70%, #fef5e0 70%);
      padding-left: 0px;
      font-weight: 800;
      border: none;
      line-height: 1.2;
      @include md {
        font-size: 17px;
      }
    }

    .tag_condition,
    .cat_condition {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      label {
        padding: 0.6rem 0.3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 1%;
        @include md {
          padding: 0.2rem;
        }
        input[type="checkbox"] {
          margin: 0;
          width: 0;
          opacity: 0;
          &:hover > .dummy_input {
            background: #cccccc;
          }
          &:checked + .dummy_input {
            background: $main_color;
          }
          &:checked + .dummy_input::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 35%;
            height: 2px;
            transform: translate(-3px, 2px) rotateZ(-135deg);
            transform-origin: 1px 1px;
            background: $base_color;
          }
          &:checked + .dummy_input::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 2px;
            transform: translate(-2px, 2px) rotateZ(-45deg);
            transform-origin: 1px 1px;
            background: $base_color;
          }
        }
      }

      .dummy_input {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 12px;
        height: 12px;
        background: #f5f5f5;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4) inset;
      }
      .check_text {
        font-size: 13px;
        margin-left: 5px;
        display: block;
      }
    }
  }
} //post-type-archive-blogs
