@charset "UTF-8";
@import "../config/config";
@import "../config/mixin";

//ブログカテゴリー、タグ、検索ページ共通CSS

.search .main {
  @include lg {
    margin: 0 ;
  }
}
.tax-oja_cat,.tax-oja_tags,.search {

  //キービジュアル
  .key_visual {
    @include keyVisual('../img/wagasa.jpg');
    &:before {
      content: '';
      display: block;
    }
    .page-title {
      @include xl {
        bottom: -15%;
      }
      @include lg {
        bottom: -50%;
      }
      @include sm {
        bottom: -70%;
      }
      h1#animation-text {
        @include signalTitel(left, (#fff,#fff));
        font-size: 4rem;
        @include lg {
          font-size: 3rem;
        }
        @include md {
          font-size: 2.6rem;
        }
        @include sm {
        font-size: 2rem;
        }
        @include s {
          font-size: 1.5rem;
          font-weight: 600;
        }
        & > span {
          animation-duration: 1.5s;
        }
      }
    }
  }
  #taxonomy-text {
    position: absolute;
    bottom: 10%;
    right: 6%;
    background: $sub_color;
    @include md {
      bottom: 0;
      right: 0;
    }
    > span {
    color: $primary_color;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    font-size: 3rem;
    animation-name:popIn;
    animation-timing-function: cubic-bezier(0, 1.23, 1, 0.99);
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
      @include xl {
        font-size: 2.3rem;
      }
      @media screen and (max-width: 1120px) {
        font-size: 2rem;
      }
      @include lg {
        font-size: 1.8rem;
      }
      @include md {
        font-size: 1.5rem;
        line-height: 1.7;
        font-weight: 500;
      }
      @include sm {
        font-size: 1.2rem;
      }
      @include s {
        font-size: 1rem;
        padding-left: 1px;
        padding-right: 1px;
      }
    }
  }
  
  @keyframes popIn {
    0% {
      transform: translateY(50px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  //ブログカテゴリー、タグ、検索ページ共通記事用
  .oja_cat {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @import '../components/post_cade';
  }

}//.tax-oja_cat