@charset "UTF-8";
@import "../config/config";
@import "../config/mixin";
@import "../config/reset";
@import "../config/base";

@import "../components/layout";

@import "../components/header";

@import "../components/scroll_btn";

@import "../components/pagenation";

@import "../components/submenu";

@import "../components/search";

@import "../components/archive-list";

@import "../components/breadcrumb";

@import "../components/footer";

//ブログカテゴリー、タグ、検索ページ共通CSS

.search .main {
  @include lg {
    margin: 0;
  }
}
.tax-oja_cat,
.tax-oja_tags,
.search {
  //キービジュアル
  .key_visual {
    @include keyVisual("../img/wagasa.jpg");
    &:before {
      content: "";
      display: block;
    }
  }
  #taxonomy-text {
    @include taxonomy-text;
  }

  //ブログカテゴリー、タグ、検索ページ共通記事用
  .oja_cat {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @import "../components/post_cade";
  }
} //.tax-oja_cat
