@charset "UTF-8";
@use "../config/config" as * ;
@use "../config/mixin" as * ;
@use "../config/reset" ;
@use "../config/base" ;

@use "../components/layout";

@use "../components/header";

@use "../components/scroll_btn";

@use "../components/pagenation";

@use "../components/submenu";

@use "../components/search";

@use "../components/archive-list";

@use "../components/breadcrumb";

@use "../components/footer";

//ブログカテゴリー、タグ、検索ページ共通CSS

.search .main {
  @include lg {
    margin: 0;
  }
}
.tax-oja_cat,
.tax-oja_tags,
.search {
  //キービジュアル
  .key_visual {
    @include keyVisual("../img/wagasa.jpg");
    &:before {
      content: "";
      display: block;
    }
  }
  #taxonomy-text {
    @include taxonomy-text;
  }

  //ブログカテゴリー、タグ、検索ページ共通記事用
  .oja_cat {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @import "../components/post_cade";
  }
} //.tax-oja_cat
