@charset "UTF-8";
@use "../config/config" as * ;
@use "../config/mixin" as * ;
@use "../config/reset" ;
@use "../config/base" ;

@use "../components/layout";

@use "../components/header";

@use "../components/scroll_btn";

@use "../components/pagenation";

@use "../components/submenu";

@use "../components/search";

@use "../components/archive-list";

@use "../components/breadcrumb";

@use "../components/footer";
//videokeyビジュアルスタイル

.single-works {
  video#bgvid {
    max-height: 480px;
  }
  @include xl {
    .key_movi {
      position: static;
    }
  }
  //keyビジュアルスタイル
  @include xl {
    .key_visual {
      @include bg_img("../img/hasu.jpg");
      position: relative;
    }
  }

  #taxonomy-text {
    @include taxonomy-text;
  }
  /*================================
  完成事例スタイル
  ===================================*/
  #content {
    .item_detail {
      background-color: #fff;
      position: relative;
      text-align: center;
      border-top: 5px solid $sub_color;
      border-bottom: 5px solid $sub_color;
      padding: 20px 15px;
      border-radius: 3px;
      margin-bottom: 55px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: -25px;
        width: 5px;
        height: calc(100% + 5em);
        background-color: #f8d76a;
      }
      &:after {
        right: 20px;
      }
      &:before {
        left: 20px;
      }

      .original {
        position: absolute;
        right: 6%;
        bottom: 2%;
        font-size: 14px;
        text-decoration: none;
        transition: $anime;
        @include md {
          font-size: 12px;
        }
        @include sm {
          font-size: 10px;
        }
        &:before {
          content: "別タブでオリジナルサイトへ";
          position: absolute;
          right: 1%;
          bottom: -62%;
        }
      }
    }

    .pc_frame {
      background: url("../img/PC.webp") no-repeat;
      background-position: 32% 10px;
      background-size: 79%;
      flex: 0 0 45%;
      overflow: hidden;
      position: relative;
      @include showAnimation(1s, 1s);
      &:after {
        content: "スクロールして見れます";
        writing-mode: vertical-lr;
        background: url("../img/arrowdouble.png") no-repeat;
        background-position: 0% 92%;
        background-size: 90%;
        position: absolute;
        right: 0%;
        top: -3%;
        width: 14%;
        height: 60%;
        font-size: 13px;
        @include lg {
          right: 18%;
          top: 6%;
        }
      }
      @include lg {
        background-position: 32% 55%;
        background-size: 50%;
      }
      @include md {
        display: none;
      }
      .frame {
        height: 0;
        overflow: hidden;
        padding: calc(800 / 1280 * 100%) 0 0;
        width: 100%;
        position: relative;
        iframe {
          transform-origin: 0 0;
          position: absolute;
          left: 10.1%;
          top: 7%;
          -webkit-transform: scale(0.28);
          transform: scale(0.289);
          width: 250%;
          height: 246%;
          @include lg {
            left: 17.7%;
            top: 20%;
            width: 161%;
            height: 155%;
          }
        }
      }
    }

    .column_reverse {
      flex-direction: row-reverse;
      .main_item_text {
        @include md {
          margin: 0 auto;
        }
      }
    }
    @include md {
      flex-direction: row;
    }
    .two_column {
      display: flex;
      justify-content: center;
      padding-top: 70px;
      @include lg {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 0px;
      }
      @include md {
        padding-top: 50px;
      }
      @include sm {
        padding-top: 20px;
      }
      &:not(:first-child) {
        padding-bottom: 30px;
      }
    }
    .sp_frame {
      background: url("../img/smartphone.png") no-repeat;
      background-size: 42.5%;
      background-position: 46.5% 2%;
      flex: 0 0 45%;
      max-height: 420px;
      overflow: hidden;
      position: relative;
      @include showAnimation;
      &:after {
        content: "スクロールして見れます";
        writing-mode: vertical-lr;
        background: url("../img/arrowdouble.png") no-repeat;
        background-position: -220% 85%;
        background-size: 90%;
        position: absolute;
        right: 10%;
        top: -17%;
        width: 20%;
        height: 100%;
        font-size: 13px;
        @include xl {
          top: -20%;
        }
        @include md {
          right: 11%;
          background-position: -220% 83%;
          background-size: 90%;
        }
        @include s {
          font-size: 10px;
        }
      }
      @include lg {
        display: none;
      }
      @include md {
        display: block;
        max-height: 530px;
      }
      @include sm {
        max-height: 430px;
      }
      @media screen and (max-width: 500px) {
        max-height: 370px;
      }
      @include s {
        max-height: 340px;
      }
      @media screen and (max-width: 395px) {
        max-height: 295px;
      }
      .frame {
        height: 0;
        overflow: hidden;
        padding: calc(667 / 385 * 100%) 0 0;
        position: relative;
        width: 100%;
        iframe {
          transform-origin: 0 0;
          position: absolute;
          left: 29.3%;
          top: 5%;
          -webkit-transform: scale(0.42);
          transform: scale(0.45);
          height: 79%;
          width: 82%;
          @include md {
            top: 4.9%;
            left: 29.36%;
          }
        }
      }
    }
    .main_item_text {
      max-width: 50%;
      flex: 0 0 50%;
      @include lg {
        max-width: 90%;
      }
    }
    h1 {
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 1.8px;
      margin-bottom: 30px;
      color: $main_color;
      transform: skew(-13deg, 0deg);
      border-bottom: 3px solid $main_color;
      padding-left: 10%;
      text-align: left;
      @include lg {
        font-size: 22px;
      }
      @include md {
        font-size: 18px;
      }
      @include s {
        padding-left: 17px;
        font-size: 16px;
      }
      &:first-letter {
        font-size: 40px;
        color: $main_color;
        @include lg {
          font-size: 34px;
        }
        @include md {
          font-size: 27px;
        }
        @include s {
          font-size: 24px;
        }
      }
    }
    h2 {
      font-size: 26px;
      color: $primary_color;
      background-color: $sub_color;
      padding-left: 30px;
      padding-right: 30px;
      letter-spacing: 1.8px;
      display: inline-block;
      margin-bottom: 10%;
      margin-left: 30%;
      transform: skew(-13deg, 0deg);
      @include xl {
        font-size: 21px;
      }
      @include lg {
        position: absolute;
        top: 2%;
        right: 7%;
      }
      @include md {
        font-size: 16px;
      }
      @include sm {
        font-size: 12px;
        top: 6.5%;
        right: 0%;
        margin-left: 7%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    h3 {
      font-size: 21px;
      margin: 20px 0px;
      margin-bottom: 40px;
      color: $text_color;
      background: linear-gradient(transparent 70%, #fef5e0 70%);
      padding-left: 20px;
      font-weight: 800;
      border: none;
      line-height: 1.2;
      @include lg {
        font-size: 26px;
        padding-left: 100px;
        text-align: left;
      }
      @include md {
        margin-top: 10%;
        text-align: center;
        font-size: 24px;
      }
      @include sm {
        margin-top: 13px;
      }
      @include s {
        font-size: 22px;
        padding-left: 0px;
      }
    }
    p {
      color: $text_color;
      font-size: 16px;
      text-align: left;
      line-height: 2;
      margin-bottom: 5%;
      @include sm {
        font-size: 14px;
      }
    }
    .item_about {
      font-family: $g_serif;
      display: block;
      width: 55%;
      background-color: $accent_color;
      border-radius: 50%;
      margin-bottom: 50px;
      @include showAnimation(0, 0.3s);
      @include xl {
        display: inline-block;
      }
      @include lg {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
      }
      @include sm {
        width: 70%;
        margin-right: 25%;
      }
      dt,
      dd {
        display: inline-block;
        width: 35%;
        padding: 20px 0 20px 30px;
        @include xl {
          width: 100%;
          padding-left: 0;
        }
      }
      dt {
        font-size: 1.3rem;
        color: #195240;
        @include lg {
          padding-bottom: 0;
        }
        @include sm {
          font-size: 1rem;
          padding-top: 0;
        }
      }
      dd {
        font-size: 1rem;
        padding-left: 0;
        color: $text_color;
        @include xl {
          padding-left: 10%;
          padding-top: 0;
        }
        @include sm {
          font-size: 0.7rem;
          padding-bottom: 0;
        }
      }
    }
  } //#content
} //..single-works
