@charset "UTF-8";
@import "../config/config";
@import "../config/mixin";
@import "../config/reset";
@import "../config/base";

@import "../components/layout";

@import "../components/header";

@import "../components/scroll_btn";

@import "../components/comment_form";

@import "../components/pagenation";

@import "../components/submenu";

@import "../components/search";

@import "../components/archive-list";

@import "../components/breadcrumb";

@import "../components/footer";

.single-blogs {
  .container .main {
    @include lg {
      margin-bottom: 20%;
    }
  }

  // 目録を表示しない
  #pc_nav {
    visibility: hidden;
    height: 0;
  }
  .submenu.fix#pc_nav {
    visibility: visible;
    overflow: scroll;
    height: auto;
  }

  //videoスタイル
  video#bgvid {
    max-height: 350px;
  }
  //keyビジュアルスタイル
  .key_visual {
    @include xl {
      @include keyVisual('../img/sakasa_kouyou.jpg');
    }
  }

  .page-title {
    h1#animation-text {
     @include signalTitel(left, (#fff,#fff));
      font-size: 3rem;
      padding: 0 10% 0 7%;
      @include xl {
        font-size: 2.4rem;
      }
      @include lg {
        font-size: 2rem;
        padding: 0;
      }
      @include md {
        font-size: 1.6rem;
      }
      @include sm {
        font-size: 1.4rem;
      }
      @include s {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  #taxonomy-text {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background: $sub_color;
    > span {
      color: $primary_color;
      padding-left: 2px;
      padding-right: 2px;
      display: inline-block;
      font-size: 2rem;
      line-height: 1.6;
      animation-name: popIn;
      animation-timing-function: cubic-bezier(0, 1.23, 1, 0.99);
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      @include xl {
        font-size: 1.8rem;
      }
      @include lg {
        font-size: 1.6rem;
      }
      @include md {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7;
      }
      @include sm {
        font-size: 1rem;
      }
      @include s {
        font-size: .8rem;
        padding-left: 1px;
        padding-right: 1px;
      }
    }
  }

  .smb-balloon__body {
    width: auto;
  }

  .blog_article {
    background-color: $base_color;
    color: $text_color;
    padding: 6%;
    margin-bottom: 15%;

    // 見出しスタイル
    @import "../components/block-style/heading";

    // リストスタイル追加
    @import "../components/block-style/list-style";

    .post_date {
      time {
        display: inline-block;
        text-align: right;
        font-size: 1rem;
        padding: 20px 20px 10px 0;
        @include md {
          font-size: 0.8rem;
        }
        @include sm {
          padding: 0 10px 3px 0;
        }
      }
    }

    span {
      font-weight: 700;
    }
    .tadv-color {
      font-size: 18px;
      font-family: $lato;
      @include md {
        font-size: 16px;
      }
      @include sm {
        font-size: 14px;
      }
    }

    strong {
      color: #080808;
      font-size: 18px;
      font-weight: bold;
      word-break: break-word;
      padding: 0px 5px;
      font-family: $lato;
      @include sm {
        font-size: 16px;
      }
    }
    em {
      font-style: italic;
      font-weight: bold;
    }
    blockquote {
      margin-left: 25px;
      margin-right: auto;
      text-align: left;
      border-bottom: 2px solid $text_color;
      padding-bottom: 10px;
      p:last-of-type {
        margin-bottom: 5px;
      }
    }
    figure {
      padding: 2em 0;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      color: $text_color;
    }
    .wp-block-embed iframe {
      max-width: 100%;
      position: static !important;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    table {
      width: 90%;
      border-collapse: collapse;
    }
    thead {
      border-bottom: 3px solid;
    }
    table td,
    table th {
      padding: 15px;
      font-size: 1rem;
      vertical-align: top;
    }
    table td {
      border: 1px solid;
    }
    table th {
      font-weight: bold;
    }
    ul {
      font-size: 16px;
      position: relative;
      margin: 0 auto 30px;
      padding-left: 30px;
      list-style: disc;
      @include md {
        font-size: 15px;
      }
    }
    li {
      padding: 0.4em;
    }
    p {
      font-size: 16px;
      line-height: 2;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: 300;
      margin-bottom: 17px;
      letter-spacing: 1.5;
      font-family: $notosans;
      @include md {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include sm {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 2;
        margin: 3% 0;
      }
    }
    .has-luminous-vivid-amber-background-color {
      padding: 3px 10px;
    }
    blockquote p {
      padding-left: 0;
      padding-right: 0;
    }
    pre.wp-block-code {
      margin-top: 28px;
      margin-bottom: 28px;
      padding: 0.8em 1em;
      background: #dae3e8;
      border-radius: 4px;
      font-family: Menlo, Consolas, monaco, monospace;
      color: #1e1e1e;
    }
    code,
    kbd {
      padding: 3px 10px 5px 10px;
      color: #000;
      font-size: 20px;
      line-height: 1.5;
      font-family: "Ricty Diminished", "monospace";
      @include md {
        font-size: 14px;
      }
    }
    mark {
      color: black;
    }
    .text-marker {
      background: linear-gradient(to top, #eaeb16 40%, transparent 40%);
      font-weight: bold;
    }
    .wp-block-spacer {
      @include md {
        height: 30px!important;
      }
    }
  } //blog_article

  .related_key_word {
    margin-bottom: 60px;
    margin-top: 140px;
    border: solid 1px #dddddd;
    background-color: rgba(248, 249, 247, 0.3);
    @include lg {
      margin-top: 60px;
      margin-bottom: 70px;
    }
    @include md {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    h1 {
      font-size: 2.6em;
      margin: 10px auto 40px;
      line-height: 1.6;
      letter-spacing: 2px;
      color: $text_color;
      text-align: center;
      @include lg {
        font-size: 2rem;
      }
      @include md {
        font-size: 1.2rem;
      }
      &:before {
        content: " ";
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: $main_color;
        transform: rotate(45deg);
        margin-right: 0.5em;
        @include md {
          width: 16px;
          height: 16px;
        }
      }
    }

    ul.related_list {
      display: flex;
      justify-content: center;
      flex-flow: row-reverse wrap;
      li {
        list-style: none;
        writing-mode: vertical-rl;
        text-orientation: upright;
        background-color: $primary_color;
        position: relative;
        padding: 5px 3px;
        border-radius: 3px;
        margin-bottom: 35px;
        margin-left: 25px;
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 5px;
          height: 45px;
          background-color: $sub_color;
          transform: rotate(90deg);
        }
        &:before {
          top: -22px;
          left: 13.5px;
          @include md {
            left: 11.5px;
          }
        }
        &:after {
          bottom: -23px;
          right: 15.5px;
          @include md {
            right: 13px;
          }
        }
        a {
          font-size: 14px;
          background-color: $base_color;
          text-align: center;
          color: $text_color2;
          display: block;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          text-decoration: none;
          transition: $anime;
          @include md {
            font-size: 12px;
          }
          &:hover {
            background-color: $main_color;
            color: $base_color;
          }
          &:before {
            content: "#";
          }
        }
      }
    }
  }
  // 目次デザイン
  @import "../components/mokuzi";
} // .single-blogs

// coreExpantionBlock
@import "../components/block-style/core_expantion";
// EXBOX
@import "../components/block-style/exbox";
// IconBox
@import "../components/block-style/iconbox";
